//$primary-color:#fff;
//$drawer-color: 	#1e727b;

$primary-color:#eceff1;
$plain:#fff;
$status:(
    "orange":orange,
    "red":red,
    "green":green
);

@mixin common_classes {
    span{
        font-size: 13px;
        opacity: 0.7;
    }
    .right{
        float: right;
        padding-left: 0.3em;
    }
    .approval{
        color: map-get($status, "orange" )
    }
    .rejection{
        color: map-get($status, "red" )
    }
    .completed{
        color: map-get($status, "green")
    }    
}
@mixin mixed-theme-button{
    .expiry,.expiry1{
        width: 120px;
        padding:4px;
        font-size: 12px;
        margin-top: 0.2em;
        padding-left: 0.4em;
        border-radius: 2px;
    }
    .expiry{
        color: #f6786e;
        background-color:#f8dedc;
    }
    .expiry1{
        color: #81b6b2;
        background-color:#def8f6;
    }
}

html,body{
    height: 100%;
    .container-fluid{
        background-color: $primary-color;
        height: 100%;
        padding: 8px;
        background-color: $primary-color;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 13px;
    }
}
.d-flex{
    .customcard{
        width: 33%;
        margin: 8px;
        background-color: $plain;
        box-shadow: 1.2px 1.2px rgba(0, 0, 0, 0.1);
        border-radius: 5px;
        .block1,.block2{
            border-bottom: solid 0.15px rgba(0, 0, 0, 0.2);
        }
    }
    &:nth-child(1){
        .first{
            background-image: url('../add.png');
            background-size: 30% 30%;
            background-repeat: no-repeat;
            background-position: center;
            }
        .block1{
            height: 72px;   
        }
        .block2{
            padding-top: 6px;
            padding-bottom: 22px;
        }
        .block3{
            height: 1em;
            padding-top: 0.5em;
        }
        .add{
            position: relative;
            text-align: center;
            top: 68%;
        }
        @include mixed-theme-button();
    }
    &:nth-child(2){
        .first{
            background-image: url('../add.png');
            background-size: 30% 30%;
            background-repeat: no-repeat;
            background-position: center;
            }
        .block1{
            height: 50px;
        }
        .block2{
            padding-top: 10px;
            padding-bottom: 10px;
        }
        .block3{
            height: 1em;
            padding-top: 0.5em;
        }
        .add{
            position: relative;
            text-align: center;
            top: 68%;
        }
    }
    @include common_classes();
}
///Commonly used classes
.progress-line{
    margin-top: 0.4em;
    margin-bottom: 20px;
    .progress{
        height: 8px;
    }   
}