$primary-color:#eceff1;
$plain:#fff;
$status:(
    "orange":orange,
    "red":red,
    "green":green
);

@mixin common_classes {
    span{
        opacity: 0.7;
    }
    .approval{
        color: map-get($status, "orange" )
    }
    .rejection{
        color: map-get($status, "red" );
    }
    .completed{
        color: map-get($status, "green");
    }    
}
@mixin mixed-theme-button{
    .expiry,.expiry1{
        width: 9.5em;
        margin-top: 0.2em;
        padding-left: 0.4em;
        border-radius: 4px;
    }
    .expiry{
        color: #f6786e;
        background-color:#f8dedc;
    }
    .expiry1{
        color: #81b6b2;
        background-color:#def8f6;
    }
}
html,body{
    overflow-x: hidden;
}
.d-flex{
        .sidebar{
            background: rgb(254,255,255);
            background: linear-gradient(180deg, #116f6f 0%, rgba(36,118,112,1) 2%, rgba(28,112,125,1) 38%, rgba(20,107,137,1) 90%);
            min-width: 170px;
            .user{
                color: white;
                font-size: 15px;
                .user-title{
                    margin-top:-2px;
                    font-size: 12px;
                }
            }
            img{
                width: 40px;
                height: 40px;
                align-content: center;
            }
            ul{
                padding: 0px;
                margin-top: 10px;
            }
            a{
                display: block;
                color: white;
                padding: 3px;
                line-height: 3em;
                font-size: 13px;
                text-decoration: none;
                &:hover{
                    background-color: #13645E;
                }
                span{
                    margin-right: 8px;
                }
                .fa{
                    font-size: 18px;
                    vertical-align: middle;
                    margin-left: 12px;
                    width: 1em;
                }
            }
        }
}

.container-fluid{
    font-size: 14px;
    background-color: $primary-color;
    .row{
        .img-center{
            background-image: url('../add.png');
            background-size: 90px;
            background-repeat: no-repeat;
            background-position: center;
            .image{
                height: 120px;
            }
            .add{
                position: relative;
                margin-top: 40px;
            }
        }
        .cards-upper,.cards-lower{
            background-color: $plain;
            height: 233px;
            margin: 0px -8px 0px -8px;
            box-shadow: 0.8px 0.8px 3px 2px rgba(51, 45, 45, 0.11), 1px 1px 5px 0px #f4f3f3;

            border-radius: 5px;
            padding: 12px;
            .block1,.block2{
                border-bottom: solid 0.15px rgba(0, 0, 0, 0.2);
            }
            @include common_classes();
        }
        .filter{
            background-color: white;
            align-content: center;
            vertical-align: center;
            padding: 15px;
            box-shadow:inset -6px 1px 0px 4px rgba(0, 0, 0, 0.025), 5px 6px 6px 0px rgba(0, 0, 0, 0.05);
            span{
                opacity: 0.7;
            }
        }
        .section{
            margin: 18px 0px 5px 0px;
            padding: 8px;
            b{
                font-size: 15px;
                color:  #116f6f;
            }
            span{
                opacity: 0.7;
            }
        }
        .cards-upper{
            .block1{
                height: 80px;
                @include mixed-theme-button();
            }
            .block2{
                padding-top: 10px;
                padding-bottom: 40px;
            }
            .block3{
                padding-top: 6px;
            }
        }
        .cards-lower{
            .block1{
                height: 54px;
            }
            .block2{
                height: 82px;
                padding-top: 6px;
            }
            .block3{
                padding-top: 12px;
            }
            .progress-line{
                margin-top: 0.5em;
                margin-bottom: 25px;
                .progress{
                       height: 4px;
                }   
            }
        }
    }
}

@media (max-width: 1000px) {
    .sidebar{
      display: none;
      position: absolute;
    }
  }