$primary-color:#eceff1;
$plain:#fff;
$status:(
    "orange":orange,
    "red":red,
    "green":green
);

@mixin common_classes {
    span{
        opacity: 0.7;
    }
    .approval{
        color: map-get($status, "orange" )
    }
    .rejection{
        color: map-get($status, "red" );
    }
    .completed{
        color: map-get($status, "green");
    }    
}
@mixin mixed-theme-button{
    .expiry,.expiry1{
        width: 9.5em;
        margin-top: 0.2em;
        padding-left: 0.4em;
        border-radius: 4px;
    }
    .expiry{
        color: #f6786e;
        background-color:#f8dedc;
    }
    .expiry1{
        color: #81b6b2;
        background-color:#def8f6;
    }
}

.container-fluid{
    background-color: $primary-color;
    height: 100vh;
    .img-center{
        background-image: url('../add.png');
        background-size: 90px;
        background-repeat: no-repeat;
        background-position: center;
        .image{
            height: 120px;
        }
        .add{
            position: relative;
            margin-top: 40px;
        }
    }
    .cards-upper,.cards-lower{
        background-color: $plain;
        height: 243px;
        margin: 24px -8px 0px -8px;
        box-shadow:
          0 0px 0.3px rgba(0, 0, 0, 0.018),
          0 0px 2px rgba(0, 0, 0, 0.17)
        ;
        border-radius: 5px;
        padding: 9px;
        .block1,.block2{
            border-bottom: solid 0.15px rgba(0, 0, 0, 0.2);
        }
        @include common_classes();
    }
    .cards-upper{
        .block1{
            height: 90px;
            @include mixed-theme-button();
        }
        .block2{
            padding-top: 6px;
            padding-bottom: 34px;
        }
        .block3{
            padding-top: 6px;
        }
    }
    .cards-lower{
        .block1{
            height: 58px;
        }
        .block2{
            height: 86px;
            padding-top: 6px;
        }
        .block3{
            padding-top: 16px;
        }
        .progress-line{
            margin-top: 0.5em;
            margin-bottom: 30px;
            .progress{
                   height: 4px;
            }   
        }
    }
}