.sidebar {
  background: #feffff;
  background: -webkit-gradient(linear, left top, left bottom, from(#116f6f), color-stop(2%, #247670), color-stop(38%, #1c707d), color-stop(90%, #146b89));
  background: linear-gradient(180deg, #116f6f 0%, #247670 2%, #1c707d 38%, #146b89 90%);
  width: 230px;
}

.sidebar ul {
  padding: 0px;
}

.sidebar li {
  list-style-type: none;
  color: white;
  line-height: 2.3em;
}

.sidebar li:hover {
  background-color: #13645E;
}

.container-fluid {
  height: 100vh;
  background-color: #eceff1;
}

.container-fluid .row {
  padding: 4px;
}

.container-fluid .row .img-center {
  background-image: url("../add.png");
  background-size: 90px;
  background-repeat: no-repeat;
  background-position: center;
}

.container-fluid .row .img-center .image {
  height: 120px;
}

.container-fluid .row .img-center .add {
  position: relative;
  margin-top: 40px;
}

.container-fluid .row .cards-upper, .container-fluid .row .cards-lower {
  background-color: #fff;
  height: 243px;
  margin: 24px -8px 0px -8px;
  -webkit-box-shadow: 0.8px 0.8px 3px 2px rgba(51, 45, 45, 0.11), 1px 1px 5px 0px #f4f3f3;
          box-shadow: 0.8px 0.8px 3px 2px rgba(51, 45, 45, 0.11), 1px 1px 5px 0px #f4f3f3;
  border-radius: 5px;
  padding: 9px;
}

.container-fluid .row .cards-upper .block1, .container-fluid .row .cards-upper .block2, .container-fluid .row .cards-lower .block1, .container-fluid .row .cards-lower .block2 {
  border-bottom: solid 0.15px rgba(0, 0, 0, 0.2);
}

.container-fluid .row .cards-upper span, .container-fluid .row .cards-lower span {
  opacity: 0.7;
}

.container-fluid .row .cards-upper .approval, .container-fluid .row .cards-lower .approval {
  color: orange;
}

.container-fluid .row .cards-upper .rejection, .container-fluid .row .cards-lower .rejection {
  color: red;
}

.container-fluid .row .cards-upper .completed, .container-fluid .row .cards-lower .completed {
  color: green;
}

.container-fluid .row .cards-upper .block1 {
  height: 90px;
}

.container-fluid .row .cards-upper .block1 .expiry, .container-fluid .row .cards-upper .block1 .expiry1 {
  width: 9.5em;
  margin-top: 0.2em;
  padding-left: 0.4em;
  border-radius: 4px;
}

.container-fluid .row .cards-upper .block1 .expiry {
  color: #f6786e;
  background-color: #f8dedc;
}

.container-fluid .row .cards-upper .block1 .expiry1 {
  color: #81b6b2;
  background-color: #def8f6;
}

.container-fluid .row .cards-upper .block2 {
  padding-top: 6px;
  padding-bottom: 34px;
}

.container-fluid .row .cards-upper .block3 {
  padding-top: 6px;
}

.container-fluid .row .cards-lower .block1 {
  height: 58px;
}

.container-fluid .row .cards-lower .block2 {
  height: 86px;
  padding-top: 6px;
}

.container-fluid .row .cards-lower .block3 {
  padding-top: 16px;
}

.container-fluid .row .cards-lower .progress-line {
  margin-top: 0.5em;
  margin-bottom: 30px;
}

.container-fluid .row .cards-lower .progress-line .progress {
  height: 4px;
}

@media (max-width: 1180px) {
  .sidebar {
    display: none;
  }
}
/*# sourceMappingURL=new.css.map */