html, body {
  font-family: Arial, Helvetica, sans-serif;
}

/*
        filter: blur(0.8px);
        filter: contrast(100%);
        */
#layout {
  height: 100vh;
  background-color: #fff;
}

#layout #sidebar {
  width: 250px;
  min-height: 100vh;
  overflow: hidden;
  background-color: #382F9C;
}

#layout #sidebar #arrow-sidebar {
  position: absolute;
  width: 16px;
  left: 6px;
  top: 54px;
  z-index: 500;
  display: none;
}

#layout #sidebar .logo {
  margin: 0px 30px;
  margin-top: 20px;
}

#layout #sidebar .logo img {
  width: 20px;
}

#layout #sidebar #hidden-curve {
  width: 20px;
  height: 30px;
  margin-left: 92.6%;
  margin-top: 5px;
  background-color: #f4f4f4;
  border-radius: 100% 0% 0% 100%/47% 30% 70% 53%;
}

#layout #sidebar .d-flex {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 0px 30px;
}

#layout #sidebar .d-flex hr {
  background-color: white;
  width: 20px;
  margin: 0px;
  opacity: 0.6;
}

#layout #sidebar .d-flex ul {
  margin-top: 20px;
  margin-bottom: 20px;
}

#layout #sidebar .d-flex ul li {
  text-align: left;
  padding: 0px;
  line-height: 2.6rem;
}

#layout #sidebar .d-flex ul li img {
  width: 14px;
}

#layout #sidebar .d-flex ul li a {
  color: white;
  opacity: 0.5;
  margin-left: 14px;
  font-size: 14px;
  text-decoration: none;
}

#layout #sidebar .d-flex ul li a:hover {
  opacity: 1;
}

#layout #sidebar .bottom {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#layout #sidebar .bottom #clip-path {
  height: 160px;
  width: 35px;
  z-index: 5px;
}

#layout #sidebar .bottom .end {
  padding: 10px 0px;
}

#layout #sidebar .bottom .end .d-flex div {
  cursor: pointer;
}

#layout #sidebar .bottom .end .d-flex div:nth-child(1) span {
  position: absolute;
  font-size: 8px;
  color: white;
  background-color: #DC143C;
  font-weight: bolder;
  border-radius: 50%;
  width: 10px;
  text-align: center;
  margin-left: -12px;
}

#layout #sidebar .bottom .end .d-flex img {
  width: 18px;
}

#layout #sidebar .bottom .end .d-flex img:nth-last-child(1) {
  border-radius: 50%;
}

#layout #grid .topnav {
  border-bottom: solid 1px #f4f4f4;
  -webkit-box-shadow: 0 8px 12px rgba(0, 0, 0, 0.02);
          box-shadow: 0 8px 12px rgba(0, 0, 0, 0.02);
  padding: 14px 25px;
}

#layout #grid .topnav #arrow-desk-bend {
  position: absolute;
  left: -4px;
  top: 45px;
  background-color: white;
  width: 14px;
  height: 38px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 47% 53% 50% 50% / 42% 42% 52% 44%;
}

#layout #grid .topnav #arrow-desk {
  position: absolute;
  width: 20px;
  left: -12px;
  top: 54px;
}

#layout #grid .topnav .btn-left {
  height: 36px;
  width: 145px;
  border-radius: 6px;
  font-size: 12px;
  font-weight: lighter;
  color: black;
  border: solid 1px #DBDCE4;
  background-color: #f8f7f8;
}

#layout #grid .topnav .btn-left a {
  color: black;
  font-size: 14px;
}

#layout #grid .topnav .btn-left a:nth-child(2) {
  border-left: solid 1px #DBDCE4;
}

#layout #grid .topnav .btn-right {
  height: 36px;
  width: 145px;
  border-radius: 6px;
  font-size: 12px;
  font-weight: bold;
  color: #382F9C;
  border: none;
  font-weight: bolder;
}

#layout #grid .topnav .btn-right:hover {
  cursor: pointer;
  background-color: #382F9C;
  color: #fff;
}

#layout #grid .group-1 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border-bottom: solid 1px #f4f4f4;
}

#layout #grid .group-1 .timesheet {
  padding: 15px 25px;
}

#layout #grid .group-1 .timesheet .d-flex div #change {
  cursor: pointer;
  width: 18px;
  margin-left: 10px;
}

@media (max-width: 500px) {
  #layout #grid .group-1 .timesheet .d-flex div #change {
    margin-left: 0px;
  }
}

#layout #grid .group-1 .timesheet .d-flex div:nth-child(1) {
  font-size: 16px;
  font-weight: bold;
  margin-right: 5px;
}

#layout #grid .group-1 .timesheet .d-flex div:nth-child(2) button {
  height: 36px;
  width: 145px;
  border-radius: 6px;
  font-size: 12px;
  font-weight: bold;
  color: #382F9C;
  border: none;
  font-size: 13px;
}

#layout #grid .group-1 .timesheet .d-flex div:nth-child(2) button:hover {
  cursor: pointer;
  background-color: #382F9C;
  color: #fff;
}

@media (max-width: 500px) {
  #layout #grid .group-1 .timesheet .d-flex div:nth-child(2) button {
    font-size: 10px !important;
    width: 110px;
  }
}

#layout #grid .group-1 .timesheet .tables {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin: 15px 0px;
}

#layout #grid .group-1 .timesheet .tables td[scope=row] span {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#layout #grid .group-1 .timesheet .tables td[scope=row] span:nth-child(2) {
  margin-left: 13px;
}

#layout #grid .group-1 .timesheet .tables tbody tr {
  font-stretch: expanded;
  margin-right: 10px;
}

#layout #grid .group-1 .timesheet .tables tbody tr:nth-child(odd) {
  background-color: #f8f7f8;
}

#layout #grid .group-1 .timesheet .tables tbody tr:hover {
  background-color: #DBDCE4;
}

#layout #grid .group-1 .timesheet .tables tbody tr span {
  font-size: 10px;
  border-radius: 4px;
}

@media (max-width: 992px) {
  #layout #grid .group-1 .timesheet .tables tbody tr span {
    font-size: 10px;
  }
}

#layout #grid .group-1 .timesheet .tables tbody tr span.span-1 {
  background-color: #dcdbea;
  color: #5048a7;
  padding: 2px 8px;
  font-weight: bolder;
}

#layout #grid .group-1 .timesheet .tables tbody tr span.span-2 {
  background-color: #f1ebd9;
  color: #c6a750;
  padding: 2px 8px;
  font-weight: bolder;
}

#layout #grid .group-1 .timesheet .tables tbody tr span.span-3 {
  background-color: #fae9ed;
  color: #fe7a9a;
  padding: 2px 8px;
  font-weight: bolder;
}

#layout #grid .group-1 .timesheet .tables tbody tr span.span-4 {
  background-color: #dfe9fa;
  color: #628bd0;
  padding: 2px 8px;
  font-weight: bolder;
}

#layout #grid .group-1 .timesheet .tables tbody tr span.span-5 {
  background-color: #faede2;
  color: #fda353;
  padding: 2px 8px;
  font-weight: bolder;
}

#layout #grid .group-1 .timesheet .tables .table-bordered td,
#layout #grid .group-1 .timesheet .tables .table-bordered th {
  vertical-align: middle;
  border: none;
  border-right: 1px solid #DBDCE4;
  font-size: 10px;
}

#layout #grid .group-1 .timesheet .tables .table-bordered td:nth-last-child(1),
#layout #grid .group-1 .timesheet .tables .table-bordered th:nth-last-child(1) {
  border: none;
}

#layout #grid .group-1 .timesheet .tables .table-bordered th {
  font-size: 10px;
}

@media (max-width: 500px) {
  #layout #grid .group-1 .timesheet .tables .table-bordered td,
  #layout #grid .group-1 .timesheet .tables .table-bordered th {
    padding: 4px;
  }
}

@media (max-width: 992px) {
  #layout #grid .group-1 .timesheet .tables .table-bordered td,
  #layout #grid .group-1 .timesheet .tables .table-bordered th {
    font-size: 10px;
    padding: 6px;
  }
}

#layout #grid .group-1 .timesheet td:nth-child(1), #layout #grid .group-1 .timesheet th:nth-child(1) {
  padding: 3px 10px !important;
}

#layout #grid .group-1 .report {
  padding: 18px 30px;
  border-left: solid 2px #f4f4f4;
}

#layout #grid .group-1 .report .heading {
  font-size: 16px;
  font-weight: bold;
}

#layout #grid .group-1 .report .cards {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin-top: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#layout #grid .group-1 .report .card {
  padding: 13px;
  margin-bottom: 20px;
  border-radius: 10px;
}

#layout #grid .group-1 .report .card:nth-child(1) {
  background-color: #382F9C;
}

#layout #grid .group-1 .report .card:nth-child(1) .img {
  background-color: #534ba9;
}

#layout #grid .group-1 .report .card:nth-child(1) .right div:nth-child(1) {
  background-color: #39c084;
}

#layout #grid .group-1 .report .card:nth-child(2) {
  background-color: #f4f4f4;
}

#layout #grid .group-1 .report .card:nth-child(2) .img {
  background-color: white;
}

#layout #grid .group-1 .report .card:nth-child(2) .right div:nth-child(1) {
  background-color: #fae9ed;
  color: #fe7a9a;
}

#layout #grid .group-1 .report .card .left {
  margin: auto;
}

#layout #grid .group-1 .report .card .left .img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 5px;
  width: 40px;
  height: 40px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 990px) and (max-width: 1116px) {
  #layout #grid .group-1 .report .card .left .img {
    width: 30px;
    height: 30px;
  }
  #layout #grid .group-1 .report .card .left img {
    padding: 4px;
  }
}

#layout #grid .group-1 .report .card .center {
  width: 100%;
  padding: 0px 10px;
  margin: auto;
}

#layout #grid .group-1 .report .card .center p {
  margin: auto;
}

#layout #grid .group-1 .report .card .center p:nth-child(1) {
  font-size: 9px;
  opacity: 0.6;
  line-height: 2em;
}

@media (min-width: 767px) and (max-width: 1024px) {
  #layout #grid .group-1 .report .card .center p:nth-child(1) {
    font-size: 8px;
  }
}

#layout #grid .group-1 .report .card .center p:nth-child(2) {
  font-weight: bolder;
  font-size: 14px;
}

#layout #grid .group-1 .report .card .right {
  text-align: center;
  margin: auto;
  color: white;
  font-size: 10px;
}

#layout #grid .group-1 .report .card .right div:nth-child(1) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 2px 6px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 4px;
  font-weight: bolder;
}

#layout #grid .group-1 .report .card .right span {
  padding-right: 4px;
}

#layout #grid .group-1 .report .export {
  margin: 14px 0px;
}

#layout #grid .group-1 .report .export button {
  height: 36px;
  width: 145px;
  border-radius: 6px;
  font-size: 12px;
  font-weight: bold;
  color: #382F9C;
  border: solid 1px #DBDCE4;
  background-color: white;
  width: 100%;
  height: 40px;
}

#layout #grid .group-1 .report .export button:hover {
  cursor: pointer;
  background-color: #382F9C;
  color: #fff;
}

#layout #grid .group-1 .report .export button img {
  height: 14px;
  z-index: 100;
  background-color: white;
}

#layout #grid .group-2 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

#layout #grid .group-2:nth-child(2) {
  border-left: solid 2px #f4f4f4;
}

#layout #grid .group-2 .heading {
  font-size: 18px;
  font-weight: bold;
}

#layout #grid .group-2 .todo {
  padding: 15px 25px;
}

#layout #grid .group-2 .todo .cards {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

#layout #grid .group-2 .todo .heading {
  font-size: 16px;
}

#layout #grid .group-2 .todo .d-flex {
  margin: 12px 0px;
}

#layout #grid .group-2 .todo .d-flex .date {
  margin: auto;
}

#layout #grid .group-2 .todo .d-flex .date p {
  line-height: 1.2em;
  margin: auto;
}

#layout #grid .group-2 .todo .d-flex .date p:nth-child(1) {
  font-weight: bolder;
  font-size: 20px;
}

@media (max-width: 500px) {
  #layout #grid .group-2 .todo .d-flex .date p:nth-child(1) {
    font-size: 18px;
  }
}

#layout #grid .group-2 .todo .d-flex .date p:nth-child(2) {
  font-size: 12px;
}

@media (max-width: 500px) {
  #layout #grid .group-2 .todo .d-flex .date p:nth-child(2) {
    font-size: 10px;
  }
}

#layout #grid .group-2 .todo .d-flex .date:hover {
  color: #382F9C;
}

#layout #grid .group-2 .todo .d-flex .stack {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

#layout #grid .group-2 .todo .d-flex .stack .card {
  -webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
  padding: 10px 25px;
  background-color: #f8f7f8;
  opacity: 0.8;
}

#layout #grid .group-2 .todo .d-flex .stack .card:hover {
  background-color: #ffffff;
  opacity: 1;
}

#layout #grid .group-2 .todo .d-flex .stack .card .right img {
  width: 18px;
  cursor: pointer;
}

#layout #grid .group-2 .todo .d-flex .stack .card p {
  margin: auto;
  font-size: 13px;
  line-height: 1.5em;
}

#layout #grid .group-2 .todo .d-flex .stack .card p:nth-child(1) {
  font-weight: bolder;
}

#layout #grid .group-2 .todo .d-flex .stack .card p:nth-child(2) {
  opacity: 0.6;
  font-size: 12px;
}

@media (max-width: 500px) {
  #layout #grid .group-2 .todo .d-flex .stack .card {
    padding: 10px 12px;
  }
  #layout #grid .group-2 .todo .d-flex .stack .card p {
    line-height: 1.8em;
  }
  #layout #grid .group-2 .todo .d-flex .stack .card p:nth-child(1) {
    font-size: 11px;
  }
  #layout #grid .group-2 .todo .d-flex .stack .card p:nth-child(2) {
    font-size: 11px;
  }
}

#layout #grid .group-2 .screenshot {
  padding: 18px 30px;
  border-left: solid 2px #f4f4f4;
}

#layout #grid .group-2 .screenshot .heading {
  margin-bottom: 8px;
  font-size: 16px;
}

#layout #grid .group-2 .screenshot .d-flex {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 6px 2px;
}

#layout #grid .group-2 .screenshot .d-flex .details {
  padding: 12px 0px;
  border-bottom: solid 1px #f4f4f4;
}

#layout #grid .group-2 .screenshot .d-flex .details .icon {
  margin: auto;
}

#layout #grid .group-2 .screenshot .d-flex .details .icon img {
  width: 20px;
}

#layout #grid .group-2 .screenshot .d-flex .details .name {
  font-size: 13px;
  width: 100%;
  margin: auto;
  margin-left: 16px;
}

@media (min-width: 767px) and (max-width: 1024px) {
  #layout #grid .group-2 .screenshot .d-flex .details .name {
    font-size: 12px;
    margin-left: 12px;
  }
}

#layout #grid .group-2 .screenshot .d-flex .details .activity {
  margin: auto;
}

#layout #grid .group-2 .screenshot .d-flex .details .activity button {
  height: 36px;
  width: 145px;
  border-radius: 6px;
  font-size: 12px;
  font-weight: lighter;
  color: #382F9C;
  border: solid 1px #DBDCE4;
  width: 40px;
  height: 100%;
  border-radius: 3px;
  font-size: 12px;
}

#layout #grid .group-2 .screenshot .d-flex .details .activity button:hover {
  cursor: pointer;
  background-color: #382F9C;
  color: #fff;
}

#layout #grid .group-2 .screenshot .view {
  margin: 20px 0px;
}

#layout #grid .group-2 .screenshot .view button {
  height: 36px;
  width: 145px;
  border-radius: 6px;
  font-size: 12px;
  font-weight: bold;
  color: #382F9C;
  border: solid 1px #DBDCE4;
  width: 100%;
  background-color: white;
}

#layout #grid .group-2 .screenshot .view button:hover {
  cursor: pointer;
  background-color: #382F9C;
  color: #fff;
}

#opener, #opener-1 {
  display: none;
  position: fixed;
  top: 50vh;
  z-index: 20;
  background-color: blue;
}

#opener-1 {
  left: 200px;
}

@media (max-width: 992px) {
  #hidden-curve {
    display: none;
  }
  #arrow-desk-bend {
    display: none;
  }
  #arrow-desk {
    margin-left: 12.5px !important;
    width: 18px !important;
  }
  #layout #sidebar {
    display: none;
    position: absolute;
    z-index: 4;
    width: 200px;
    height: 100vh;
    overflow: scroll;
  }
  #layout #sidebar .d-flex ul li a {
    font-size: 12px;
  }
  #grid {
    height: 100vh;
    overflow-y: scroll;
  }
  #opener {
    display: block;
  }
  .logo {
    margin-top: 49px !important;
  }
}

@media (max-width: 1024px) {
  #layout #grid .group-1 .report {
    padding: 21px;
  }
  #layout #grid .group-2 .screenshot {
    padding: 21px;
  }
}

@media (max-width: 500px) {
  #layout #grid .group-1 .timesheet, #layout #grid .group-1 .report {
    padding: 15px;
  }
  #layout #grid .group-1 .timesheet {
    border-bottom: solid 1px #f4f4f4;
  }
  #layout #grid .group-2 .todo, #layout #grid .group-2 .screenshot {
    padding: 15px;
  }
  #layout #grid .group-2 .todo {
    border-bottom: solid 1px #f4f4f4;
  }
  #layout #grid .group-2 .todo .date {
    padding-left: 4px;
  }
  #layout #grid .topnav .btn-left {
    width: 100px;
  }
  #layout #grid .topnav .btn-left a {
    font-size: 10px;
    padding-right: 6px;
    padding-left: 4px;
    margin: auto;
  }
  #layout #grid .topnav .btn-right {
    font-size: 10px;
    width: 100px;
  }
}
/*# sourceMappingURL=index.css.map */