$primarycolor:#fff;
$secondarycolor:#382F9C;
$bordercolor:#DBDCE4;

html,body{
    font-family: Arial, Helvetica, sans-serif;
}

@mixin contrast($bgcolor:white,$color:black){
    background-color: $bgcolor;
    color: $color;
}

@mixin button-lg($color:black,$weight:lighter,$border:false,$animation:false){
    height: 32px;
    width: 132px;
    border-radius: 4px;
    font-size: 12px;
    font-weight: $weight;
    color: $color;
    @if $border {
        border: none;
    }@else{
        border: solid 1px $bordercolor;
    }
    @if $animation{
        &:hover{
            cursor: pointer;
            @include contrast($secondarycolor,$primarycolor )
        }
    }
}

#layout{
    overflow: hidden;
    background-color: $primarycolor;
    #sidebar{
        width: 212px;
        background-color: $secondarycolor;
        .d-flex{
            padding: 0px 25px;
            ul{
                margin-top: 20px;
                margin-bottom: 20px;
                li{
                    text-align: left;
                    padding: 0px;
                    line-height: 2em;
                    img{
                        width: 14px;
                    }
                    a{
                        color: white;
                        opacity: 0.5;
                        margin-left: 14px;  
                        font-size: 13px;
                        text-decoration: none;
                        &:hover{
                            opacity: 1;
                        }
                    }
                }
            }
        }
        
        .bottom{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            flex-grow:1;
            #clip-path{
            margin-top: 20px;
            width: 35px;
            z-index: 5px;
            }   
        .end{
            padding: 10px 0px;
            .d-flex{
                img{
                    width: 18px;
                }
            }
        }}
    }
    #grid{
    min-height: 100vh;;
        .topnav{
            border-bottom: solid 1px #f4f4f4;   
            box-shadow:0 8px 12px rgba(0, 0, 0, 0.02);
            .btn-left{
                @include button-lg();
                background-color: #f8f7f8;
                a{
                    color: black;
                    font-size: 12px;
                    &:nth-child(2){
                        border-left: solid 1px $bordercolor;
                    }
                    
                }
            }
            .btn-right{
                @include button-lg($secondarycolor,bold,$border:true,$animation:true);
            }
        }   
            .group-1{
                flex-grow: 1;
                border-bottom: solid 1px #f4f4f4;
                    .timesheet{
                        .d-flex{
                            div{
                                &:nth-child(1){
                                    font-weight: bold;
                                }
                                &:nth-child(2){
                                    button{
                                        @include button-lg($secondarycolor,bold,$border:true,$animation:true);
                                    }
                                }
                            }
                        }
                        .tables{
                            flex-grow: 1;
                            margin-top: 18px;
                            margin-bottom: 14px;
                            td[scope=row]{
                                span{
                                    display: inline-flex;
                                    align-items: center;
                                    &:nth-child(2){
                                        margin-left: 8px;
                                    }
                                }
                            }
                            tbody tr{   
                                &:nth-child(odd) {
                                background-color: #f8f7f8;
                                }
                                margin-right: 10px;
                                td{
                                    &:nth-child(1){
                                        width: 32%;
                                    }      
                                }
                                &:hover{
                                    background-color: #DBDCE4;
                                }
                                span{
                                    font-size: 10px;
                                    border-radius: 4px;
                                    &.span{
                                        &-1{@include contrast(#dcdbea,#5048a7);padding: 4px 8px;}
                                        &-2{@include contrast(#f1ebd9,#c6a750);padding: 4px 8px;}
                                        &-3{@include contrast(#fae9ed,#fe7a9a);padding: 4px 8px;}
                                        &-4{@include contrast(#dfe9fa,#628bd0);padding: 4px 8px;}
                                        &-5{@include contrast(#faede2,#fda353);padding: 4px 8px;}
                                    }
                                }
                            }
                            .table-bordered td,
                            .table-bordered th {
                            vertical-align: middle;
                            border: none;
                            border-right: 1px solid $bordercolor;
                            font-size: 10px;
                            padding: 4px;
                            }
                        }
                        
                    }
                        
                        .report{
                            border-left: solid 2px #f4f4f4;
                            .heading{
                                margin-top: 5px;
                                font-weight: bold;
                            }
                            .cards{
                                margin-top: 16px;
                            }
                            .card{
                                padding: 4px;
                                height: 50%;
                                margin-bottom: 20px;
                                border-radius: 10px;
                                .left{
                                    padding: 6px;
                                    margin: auto;
                                    .img{
                                        background-color: #534ba9;  
                                        border-radius: 5px;
                                    }
                                    img{
                                        padding: 10px;
                                        width: 40px;
                                        height: 40px;
                                    }
                                }
                                .center{
                                    width: 50%;
                                    margin: auto;
                                    line-height: 1.2em;
                                    p{
                                        margin: auto;
                                        font-size: 9px;
                                        &:nth-child(2){
                                            font-weight: bolder;
                                            font-size: 14px;
                                        }
                                    }
                                }
                                .right{
                                    text-align: center;
                                    margin: auto;
                                    color: white;
                                    font-size: 10px;
                                    div:nth-child(1){
                                        padding: 2px 6px;
                                        border-radius: 4px;
                                        font-weight: bolder;
                                    }
                                    span{
                                        padding-right: 4px;
                                    }
                                }
                            }
                            .export{
                                margin-bottom: 14px;
                                button{
                                    @include button-lg($secondarycolor,bold,$animation:true);
                                    background-color: white;
                                    width: 100%;
                                    height: 34px;
                                    font-size: 10px;
                                    padding: 10px;
                                }
                            }
                        }
            }
        .group-2{
            flex-grow: 1;
            &:nth-child(2){
                border-left: solid 2px #f4f4f4;
            }
            .heading{
                margin-top: 5px;
                font-weight: bold;
            }
            .todo{
                .cards{flex-grow: 1;}
                .d-flex{
                        .date{
                            margin: auto;
                            p{
                                line-height: 1em;  
                                margin: auto;
                                &:nth-child(1){
                                    font-weight: bolder;
                                    font-size: 18px;
                                }
                                &:nth-child(2){
                                    font-size: 12px;
                                }
                            }
                            &:hover{
                                color: $secondarycolor;
                            }
                        }
                        .d-flex{
                            flex-grow: 1;
                            .card{
                                padding: 10px 0px 10px 20px;
                                background-color: #f8f7f8;
                                opacity: 0.8;
                                box-shadow:0 0px 0px 0px rgba(0, 0, 0, 0.044), 0 0px 3.1px rgba(0, 0, 0, 0.066), 0 0px 0px rgba(0, 0, 0, 0.11);
                                &:hover{
                                    background-color: white;
                                    opacity: 1;
                                }
                                p{
                                    margin: auto;
                                    font-size: 12px;
                                    line-height: 1.5em;
                                    &:nth-child(1){
                                        font-weight: bolder;
                                    }
                                    &:nth-child(2){
                                        opacity: 0.6;
                                        font-size: 10px;
                                    }
                                }
                            }
                        }
                }
            }
            .screenshot{
                border-left: solid 2px #f4f4f4;
                .heading{margin-bottom: 8px;}
                .d-flex{
                    flex-grow: 1;
                    .details{
                        margin-bottom:5px;
                        padding: 12px 0px;
                        border-bottom: solid 1px #f4f4f4;
                        .icon{
                            margin: auto;
                            img{
                            width: 20px;
                        }}
                        .name{
                            font-size: 12px;
                            width: 100%;
                            margin: auto;
                            margin-left: 16px;
                        }
                        .activity{
                            margin: auto;
                            button{
                            @include button-lg($secondarycolor,$animation:true);                               
                            width: 34px;
                            height: 100%;
                            border-radius: 3px;
                            font-size: 10px;
                        }}
                    }
                }
                .view{
                    margin-top: 15px;
                    margin-bottom: 4%;
                    button{
                        @include button-lg($secondarycolor,bold,$animation:true);                               
                        width: 100%;
                        background-color: white;
                    }
                }
            }
        }
    }
}
.timesheet,.report,.todo,.topnav,.screenshot{
    padding: 15px !important;
}
@media (max-width:768px){
    .alterwidth{max-width: 100%;}
}
@media (max-width:500px){
    #layout #grid{
        .topnav{
            .btn-left{width: 90px; a{font-size: 10px; padding-right: 6px; padding-left: 4px; margin: auto;}}
            .btn-right{font-size: 10px; width: 100px;}
        }
        .todo .stack{margin-top: 20px !important;}
        .timesheet { button{
            font-size: 10px !important;
            width: 110px !important;
        }}
        .box-2,.screenshot{
            border-top: solid 1px #f4f4f4;   
        }
        .todo{.left{p:nth-child(1){font-size: 10px !important; font-weight: lighter !important;}} margin-bottom: 15px !important;}
        .screenshot{margin: 0px !important;}
        .group-2{&:nth-child(2){border-top: solid 1px #f4f4f4;}}
    }
    #change{
        margin-left:4px !important;   
    }
}
#opener,#opener-1{
    display: none;
}
@media (max-width:992px){
    #arrow{
        img{
            margin-left: 15px !important;
            width: 15px !important;
            margin-top: 3px !important;
        }
    }
    #layout #sidebar{
        display: none;
        position: absolute;
        z-index: 4;
        width: 172px;
        height: 100vh;
        overflow: scroll;
    }
    #grid{
        height: 100vh;
        overflow-y: scroll;
    }
    #opener{
     display: block ;
    }
    .logo{
        margin-top: 49px !important;
    }
}