$primarycolor:#fff;
$secondarycolor:#382F9C;
$bordercolor:#DBDCE4;

html,body{
    font-family: Arial, Helvetica, sans-serif;
}

@mixin contrast($bgcolor:white,$color:black){
    background-color: $bgcolor;
    color: $color;
}

@mixin button-lg($color:black,$weight:lighter,$border:false,$animation:false){
    height: 32px;
    width: 132px;
    border-radius: 4px;
    font-size: 12px;
    font-weight: $weight;
    color: $color;
    @if $border {
        border: none;
    }@else{
        border: solid 1px $bordercolor;
    }
    @if $animation{
        &:hover{
            @include contrast($secondarycolor,$primarycolor )
        }
    }
}

#layout{
    background-color: $primarycolor;
    #sidebar{
        width: 212px;
        background-color: $secondarycolor;
        .d-block{
            margin: 40px 22px;
            margin:40px 22px 30px 22px;
            ul{
                margin-top: 20px;
                margin-bottom: 20px;
                li{
                    text-align: left;
                    padding: 0px;
                    line-height: 2em;
                    img{
                        width: 14px;
                    }
                    a{
                        color: white;
                        opacity: 0.5;
                        margin-left: 14px;  
                        font-size: 11px;
                        text-decoration: none;
                        &:hover{
                            opacity: 1;
                        }
                    }
                }
            }
        }
        #clip-path{
            margin-top: -20px;
            height: 150px;
            width: 35px;
            z-index: 5px;
        }
        .end{
            .d-flex{
                margin-top: 12px;
                img{
                    width: 16px;
                }
            }
        }
    }
    #grid{
        .topnav{
            border-bottom: solid 1px #f4f4f4;   
            box-shadow:
  0 8px 12px rgba(0, 0, 0, 0.02)
;
            padding-top: 20px;
            padding-bottom: 15px;
            .btn-left{
                @include button-lg();
                background-color: #f8f7f8;
                margin-left: 8px;
                a{
                    color: black;
                    font-size: 12px;
                    &:nth-child(2){
                        border-left: solid 1px $bordercolor;
                    }
                    
                }
            }
            .btn-right{
                @include button-lg($secondarycolor,bold,$border:true,$animation:true);
                margin-right: 8px;
            }
        }
            .group-1{
                border-bottom: solid 1px #f4f4f4;
                    .timesheet{
                        padding-top: 10px;
                        .d-flex{
                            margin-top: 5px;
                            div{
                                &:nth-child(1){
                                    font-weight: bold;
                                }
                                &:nth-child(2){
                                    button{
                                        @include button-lg($secondarycolor,bold,$border:true,$animation:true);
                                    }
                                }
                            }
                        }
                        .tables{
                            margin-top: 18px;
                            margin-bottom: 20px;
                            tbody tr{   
                                &:nth-child(odd) {
                                background-color: #f8f7f8;
                                }
                                margin-right: 10px;
                                td{
                                    &:nth-child(1){
                                        width: 32%;
                                    }
                                    
                                }
                                &:hover{
                                    background-color: #DBDCE4;
                                }
                                span{
                                    font-size: 13px;
                                    padding: 5px 8px;
                                    border-radius: 4px;
                                    margin-right: 8px;
                                    font-weight: bold;
                                    &.span{
                                        &-1{@include contrast(#dcdbea,#5048a7)}
                                        &-2{@include contrast(#f1ebd9,#c6a750)}
                                        &-3{@include contrast(#fae9ed,#fe7a9a)}
                                        &-4{@include contrast(#dfe9fa,#628bd0)}
                                        &-5{@include contrast(#faede2,#fda353)}
                                    }
                                }
                            }
                            .table-bordered td,
                            .table-bordered th {
                            border: none;
                            border-right: 1px solid $bordercolor;
                            font-size: 10px;
                            padding: 8px;
                            }
                        }
                        
                    }
                    .box-2{
                        border-left: solid 2px #f4f4f4;
                        .report{
                            margin: 12px;
                            margin-bottom:20px;
                            .heading{
                                margin-top: 8px;
                                margin-bottom: 25px;
                                font-weight: bold;
                            }
                            .card{
                                padding: 4px;
                                margin-bottom: 15px;
                                border-radius: 10px;
                                .left{
                                    padding: 6px;
                                    .img{
                                        
                                        background-color: #534ba9;  
                                        border-radius: 5px;
                                    }
                                    img{
                                        padding: 10px;
                                        width: 40px;
                                        height: 40px;
                                    }
                                }
                                .center{
                                    width: 50%;
                                    margin: auto;
                                    line-height: 1.2em;
                                    p{
                                        margin: auto;
                                        font-size: 9px;
                                        &:nth-child(2){
                                            font-weight: bolder;
                                            font-size: 14px;
                                        }
                                    }
                                }
                                .right{
                                    text-align: center;
                                    margin: auto;
                                    color: white;
                                    font-size: 10px;
                                    div:nth-child(1){
                                        padding: 2px 6px;
                                        border-radius: 4px;
                                        font-weight: bolder;
                                    }
                                    span{
                                        padding-right: 4px;
                                    }
                                }
                            }
                            .export{
                                margin-top: 12px;
                                margin-bottom: 12px;
                                button{
                                    @include button-lg($secondarycolor,bold,$animation:true);
                                    background-color: white;
                                    width: 100%;
                                    height: 34px;
                                    font-size: 10px;
                                    padding: 10px;
                                }
                            }
                        }
                    }   
            }
        .group-2{
            &:nth-child(2){
                border-left: solid 2px #f4f4f4;
            }
            .heading{
                margin-top: 10px;
                font-weight: bold;
            }
            .todo{
                .heading{margin-bottom: 13px; margin-left: 8px;}
                margin-bottom: 25px;
                .d-flex{
                    margin-bottom: 14px;
                        .date{
                            margin: auto;
                            p{
                                line-height: 1em;  
                                margin: auto;
                                &:nth-child(1){
                                    font-weight: bolder;
                                    font-size: 18px;
                                }
                                &:nth-child(2){
                                    font-size: 12px;
                                }
                            }
                            &:hover{
                                color: $secondarycolor;
                            }
                        }
                        .card{
                            padding: 8px 0px 8px 20px;
                            background-color: #f8f7f8;
                            opacity: 0.8;
                            box-shadow:0 0px 0px 0px rgba(0, 0, 0, 0.044), 0 0px 3.1px rgba(0, 0, 0, 0.066), 0 0px 0px rgba(0, 0, 0, 0.11);
                            &:hover{
                                background-color: white;
                                opacity: 1;
                            }
                            p{
                                margin: auto;
                                font-size: 12px;
                                line-height: 1.5em;
                                &:nth-child(1){
                                    font-weight: bolder;
                                }
                                &:nth-child(2){
                                    opacity: 0.6;
                                    font-size: 10px;
                                }
                            }
                        }
                        
                }
            }
            .screenshot{
                margin: 12px;   
                .heading{margin-bottom: 6px;}
                .d-flex{
                    .details{
                        padding:11px 0px;
                        border-bottom: solid 1px #f4f4f4;
                        img{
                            width: 20px;
                        }
                        .name{
                            font-size: 12px;
                            width: 100%;
                            margin: auto;
                            margin-left: 16px;
                        }
                        button{
                            @include button-lg($secondarycolor,$animation:true);                               
                            width: 34px;
                            height: 100%;
                            border-radius: 3px;
                            font-size: 10px;
                        }
                    }
                }
                .view{
                    margin-top: 20px;
                    margin-bottom: 20px;
                    button{
                        @include button-lg($secondarycolor,bold,$animation:true);                               
                        width: 100%;
                        background-color: white;
                    }
                }
            }
        }
    }
}
.alterwidth{
    max-width: 65%;
}
@media (max-width:768px){
    .alterwidth{max-width: 100%;}
    #layout #grid{
        .topnav{padding-left: 0px; padding-right: 0px;}
        
    }
}
@media (max-width:500px){
    .alterwidth{
        max-width: 100%;
        padding: 4px;
    }
    #layout #grid{
        .topnav{
            .btn-left{width: 90px; a{font-size: 10px; padding-right: 6px; padding-left: 4px; margin: auto;}}
            .btn-right{font-size: 10px; width: 100px;}
        }
        .timesheet button{
            font-size: 10px !important;
            width: 110px !important;
        }
        .box-2{
            border-top: solid 1px #f4f4f4;   
            .report{
                margin-left: 0px !important;
                margin-right: 0px !important;
            }
        }
        .todo {.heading{margin-left: 0px; } .left{p:nth-child(1){font-size: 12px !important; font-weight: lighter !important;}}}
        .screenshot{margin: 0px !important;}
        .group-2{&:nth-child(2){border-top: solid 1px #f4f4f4;}}
    }
    #change{
        margin-left:4px !important;   
    }
}
#opener,#opener-1{
    display: none;
}
@media (max-width:992px){
    #arrow{
        img{
            margin-left: 10px !important;
            width: 15px !important;
            margin-top: 3px !important;
        }
    }
    #layout #sidebar{
        display: none;
        position: absolute;
        z-index: 4;
        width: 172px;
        height: 100vh;
        overflow: scroll;
    }
    #grid{
        height: 100vh;
        overflow-y: scroll;
    }
    #opener{
     display: block ;
    }
    .logo{
        margin-top: 54px !important;
    }
}