@import "chatbot";
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

html,body{
    width: 100%;
}
.wrapper{
    display: none;
}
#nav-desktop-wrapper{
    display: none;
    box-shadow: none;
    #nav-desktop{
        padding: 16px;
        #logo{
            height: 32px;
        }
        a{
            color: black;
            font-size: 16px;
            font-weight: lighter;
            font-family: 'Lato', sans-serif;
            &:hover{
                color: #665CD7;
            }
            tag{
                position: absolute;
                font-family: Arial, Helvetica, sans-serif;
                background-color: rgb(88,206,188);
                border-radius: 2px;
                margin-left: -5px;
                bottom: 80%;
                font-size: 10px;
                padding: 1px 4px 1px 3px;
                color: white;
            }
        }
        button{
            height: 46px;
            width: 146px;
            border-color: #675ED7;
            background-color: white;
            color:#675ED7;
            font-size: 16px;
            font-weight: bolder;
            box-shadow: 0 5px 12px 0 rgba(11, 33, 105, 0.17);
            &:hover{
                background-color: #665CD7;
                color: white;
            }
        }
    }
}

#nav-mobile-header{
    display: none;
    border-bottom: solid 1px #EDEDF1;
    height: 60px;
    img{
        height: 32px;
        margin-left: 12px;
    }
    #toggler-on{
        margin-right: 12px;
        border: none;
    }
    #navbar-content{
        position: relative;
        background-color: #665DD6;
        height: 100vh-6vh;
        z-index: 4;
        .d-block{
            height: 60vh;
            width: 100%;
            border-bottom-left-radius: 30px;
            border-bottom-right-radius: 30px;
            text-align: center;
            ul{
                padding-top: 45px;
                line-height: 3em;
                font-size: 16px;
                font-weight: lighter;
            }
        }
        .close{
            position: relative;
            width: 100%;
            text-align: center;
            #toggler-off{
                background-color: white;
                padding: 13px;
                border-radius: 50%;
                vertical-align: center;
            }
            z-index: 400;
        }
    }
}
#section1{
    padding: 16px;
}