@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");
#Preloader {
  width: 100%;
  height: 100vh;
  overflow: visible;
  background: #ffffff url("../assets/loader.gif");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 350px;
  z-index: 1;
}

.chatbot {
  position: fixed;
  right: 2%;
  bottom: 3%;
  z-index: 2;
}

.chatbot .chatbot-messenger {
  display: none;
  position: relative;
  width: 60vh;
  height: 78vh;
  background-color: #F4F5F7;
  -webkit-box-shadow: 0 0px 17px -2px rgba(0, 0, 0, 0.23);
          box-shadow: 0 0px 17px -2px rgba(0, 0, 0, 0.23);
  border-top-left-radius: 3%;
  border-top-right-radius: 3%;
  -webkit-animation: chatboxMessenger 0.1s linear;
          animation: chatboxMessenger 0.1s linear;
}

.chatbot .chatbot-messenger #chat-messanger-top {
  height: 16vh;
  background-color: #675ED7;
  border-top-left-radius: 3%;
  border-top-right-radius: 3%;
}

.chatbot .chatbot-messenger #chat-messanger-top .title {
  position: absolute;
  margin: 3%;
}

.chatbot .chatbot-messenger #chat-messanger-top .title #icon {
  width: 32px;
  height: 32px;
}

.chatbot .chatbot-messenger #chat-messanger-top .title p {
  padding-top: 0.8%;
  color: #DED3F6;
}

.chatbot .chatbot-messenger #chat-messanger-chat {
  position: relative;
  border-radius: 5px;
  border-top-left-radius: 1.8%;
  border-top-right-radius: 1.8%;
  bottom: 5%;
  width: 95%;
  height: 57.5vh;
  background-color: #fff;
}

.chatbot .chatbot-messenger input {
  height: 44px;
  width: 100%;
  font-size: 12px;
  margin-top: -18px;
  padding: 20px;
  border: none;
  -webkit-box-shadow: inset 0px 1px 0px 1px rgba(159, 159, 159, 0.23);
          box-shadow: inset 0px 1px 0px 1px rgba(159, 159, 159, 0.23);
}

.chatbot .chatbot-messenger input:focus, .chatbot .chatbot-messenger input:active {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.chatbot #chatbot-on {
  width: 60px;
  background: none;
  -webkit-filter: drop-shadow(1px 1.6px 0.9px #575353);
          filter: drop-shadow(1px 1.6px 0.9px #575353);
  -webkit-animation: chatboxIcon 0.4s linear;
          animation: chatboxIcon 0.4s linear;
  z-index: 4;
}

.chatbot #chatbot-off {
  width: 34px;
  height: 25px;
  margin-top: -30px;
  padding: 5px;
  background-color: #99A1B0;
  color: white;
  text-align: center;
  border-radius: 25px;
}

@-webkit-keyframes chatboxIcon {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes chatboxIcon {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes chatboxMessenger {
  0% {
    width: 0px;
    height: 0px;
  }
}

@keyframes chatboxMessenger {
  0% {
    width: 0px;
    height: 0px;
  }
}

@font-face {
  font-family: "Avenir Black";
  src: url("../plugins/fonts/Avenir Book.ttf");
}

@font-face {
  font-family: "Avenir-Heavy";
  src: url("../plugins/fonts/Avenir-Heavy.ttf");
}

@font-face {
  font-family: "Avenir-Medium";
  src: url("../plugins/fonts/Avenir-Medium.ttf");
}

@font-face {
  font-family: 'Un Graphic Bold';
  src: url("../plugins/fonts/UnGraphicBold.ttf");
}

html, body {
  overflow-x: hidden;
}

.wrapper {
  display: none;
}

#nav-desktop-wrapper {
  display: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

#nav-desktop-wrapper #nav-desktop {
  padding: 16px;
}

#nav-desktop-wrapper #nav-desktop #logo {
  height: 32px;
}

#nav-desktop-wrapper #nav-desktop a {
  color: black;
  font-size: 16px;
  font-weight: lighter;
  font-family: 'Lato', sans-serif;
}

#nav-desktop-wrapper #nav-desktop a:hover {
  color: #665CD7;
}

#nav-desktop-wrapper #nav-desktop a tag {
  position: absolute;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #58cebc;
  border-radius: 2px;
  margin-left: -5px;
  bottom: 80%;
  font-size: 10px;
  padding: 1px 4px 1px 3px;
  color: white;
}

#nav-desktop-wrapper #nav-desktop button {
  height: 46px;
  width: 146px;
  border-color: #675ED7;
  background-color: white;
  color: #675ED7;
  font-size: 16px;
  font-weight: bolder;
  -webkit-box-shadow: 0 5px 12px 0 rgba(11, 33, 105, 0.17);
          box-shadow: 0 5px 12px 0 rgba(11, 33, 105, 0.17);
}

#nav-desktop-wrapper #nav-desktop button:hover {
  background-color: #665CD7;
  color: white;
}

#nav-mobile-header {
  display: none;
  border-bottom: solid 1px #EDEDF1;
  height: 60px;
}

#nav-mobile-header img {
  height: 32px;
  margin-left: 12px;
}

#nav-mobile-header #toggler-on {
  margin-right: 12px;
  border: none;
}

#nav-mobile-header #navbar-content {
  position: relative;
  background-color: #665DD6;
  height: 94vh;
  z-index: 4;
}

#nav-mobile-header #navbar-content .d-block {
  height: 60vh;
  width: 100%;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  text-align: center;
}

#nav-mobile-header #navbar-content .d-block ul {
  padding-top: 45px;
  line-height: 3em;
  font-size: 16px;
  font-weight: lighter;
}

#nav-mobile-header #navbar-content .close {
  position: relative;
  width: 100%;
  text-align: center;
  z-index: 400;
}

#nav-mobile-header #navbar-content .close #toggler-off {
  background-color: white;
  padding: 13px;
  border-radius: 50%;
  vertical-align: center;
}

#introduction {
  margin-top: 9.8%;
  cursor: auto;
  font-family: 'Avenir Black';
}

#introduction .header {
  margin-top: 16px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 32px;
  color: #FDBC2C;
}

#introduction .title {
  font-size: 48px;
  font-family: 'Un Graphic Bold';
}

#introduction .content {
  margin-top: 30px;
  color: #595959;
  font-size: 20px;
  line-height: 2em;
}

#introduction .services-available {
  margin-top: 52px;
}

#introduction .services-available .service {
  margin-left: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#introduction .services-available .service .icon {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: solid 1.5px #EEEEEE;
  text-align: center;
}

#introduction .services-available .service .icon img {
  margin-top: 30%;
}

#introduction .services-available .service div:nth-child(2) {
  padding-left: 30px;
  font-size: 14px;
}

#introduction .services-available .service div:nth-child(2) p {
  font-family: 'Avenir-Heavy';
  margin-top: 5px;
  font-size: 17px;
  font-weight: bold;
}

#challenge {
  height: 100%;
  margin-top: 10%;
  margin-bottom: 11%;
  background-color: #1D1A42;
  -webkit-box-shadow: 0 3.5px 3.5px -23px rgba(0, 0, 0, 0.075), 0 28px 28px -23px rgba(0, 0, 0, 0.15);
          box-shadow: 0 3.5px 3.5px -23px rgba(0, 0, 0, 0.075), 0 28px 28px -23px rgba(0, 0, 0, 0.15);
  border-radius: 30px;
  overflow-x: hidden;
  color: white;
}

#challenge .d-flex .heading {
  font-family: 'Avenir Black';
  font-size: 36px;
  font-weight: bold;
  padding-top: 20px;
}

#challenge .d-flex .content {
  padding-left: 2%;
  padding-right: 2%;
  font-family: 'Avenir-Medium';
  font-size: 24px;
  text-align: center;
  text-align-last: center;
  font-stretch: expanded;
  line-height: 1.8;
  padding-bottom: 20px;
}

#challenge .d-flex .borderline {
  width: 100px;
  height: 4px;
  border: solid 1.2px #f9a12a;
  margin-top: 15px;
  margin-bottom: 34px;
}

#challenge .right {
  position: absolute;
  right: 0;
}

#goals-main .title {
  border: solid 2px #EEEEEE;
  padding-bottom: 5%;
}

#goals-main .title #oval-violet {
  margin-top: 10px;
  margin-left: 75%;
}

#goals-main .title #oval-green {
  margin-left: 40%;
}

#goals-main .title .d-flex {
  margin: auto;
  padding-top: 30px;
  padding-bottom: 30px;
  border-radius: 50%;
  margin-bottom: 30%;
  width: 100px;
  background-color: #FCEBC8;
}

#goals-main .title .d-flex img {
  width: 35px;
}

#goals-main .title .header {
  font-family: 'Avenir-Medium';
}

#goals-main .title .header .borderline {
  width: 100px;
  height: 4px;
  border: solid 1.2px #f9a12a;
  margin-top: 28px;
  margin-bottom: 34px;
}

#goals-main .title .header .heading {
  font-size: 32px;
  font-weight: bold;
}

#goals-main .title .header .sub-heading {
  padding-right: 18%;
  font-size: 22px;
  line-height: 2em;
  color: #878787;
}

#goals-main #oval-orange {
  position: absolute;
  margin-top: -40px;
  left: 88.5%;
}

#goals-contents {
  border: solid 2px #EEEEEE;
  border-top: none;
  padding-top: 7%;
  padding-bottom: 5%;
  font-family: 'Avenir-Medium';
  color: #595959;
}

#goals-contents .row {
  margin-top: -0px;
}

#goals-contents .draw {
  padding-left: 13%;
}

#goals-contents #list {
  padding-right: 18%;
  font-size: 20px;
  line-height: 2em;
}

#goals-contents #oval-white {
  position: absolute;
  margin-left: -92px;
  margin-top: -40px;
}

#endorsement {
  margin-top: 15%;
  margin-bottom: 7%;
  padding-top: 4%;
  padding-bottom: 7%;
  font-family: 'Avenir-Medium';
  background-color: #1D1A42;
}

#endorsement .header {
  padding-left: 12%;
}

#endorsement .header #quote-header {
  margin-left: 26px;
  margin-bottom: 30px;
  font-size: 36px;
  color: #f9a02a;
}

#endorsement .header .header-main {
  font-family: 'Avenir Black';
  font-size: 56px;
}

#endorsement .quote-box {
  margin-top: 5%;
}

#endorsement .quote-box #customer {
  margin-left: 11%;
  padding: 6px;
  background-color: white;
}

#endorsement .quote-box .quote-box-content {
  padding-left: 6%;
  padding-top: 2.5%;
}

#endorsement .quote-box .quote-box-content .para {
  font-size: 24px;
  padding-right: 20%;
  line-height: 2em;
  margin-top: 4.5%;
  margin-bottom: 4.5%;
}

#endorsement .quote-box .quote-box-content .title {
  margin-top: 4%;
  margin-bottom: 1.5%;
  font-family: 'Avenir-Heavy';
  font-size: 24px;
  font-weight: bold;
}

#endorsement .quote-box .quote-box-content .sub-title {
  color: #8B869E;
  font-size: 20px;
}

#features .header {
  font-family: 'Avenir-Black';
  font-size: 36px;
  font-weight: bold;
}

#features .borderline {
  width: 100px;
  height: 1px;
  border: solid 1px #f9a12a;
  margin: 30px auto 26px auto;
}

#features .sub-heading {
  font-family: 'Avenir-Medium';
  font-size: 24px;
  margin-left: 14%;
  margin-right: 14%;
  color: #878787;
  line-height: 1.8em;
}

#features .card {
  width: 88%;
  border-radius: 12px;
  margin-top: 7%;
  margin-bottom: 6%;
  margin-left: 2%;
  height: 80vh;
}

#features .card .align {
  width: 45%;
  margin: auto 0px auto 10%;
}

#features .card .align .heading-card {
  font-family: 'Avenir-Heavy';
  font-size: 38px;
  font-weight: bold;
  line-height: 2.5em;
}

#features .card .align .sub-heading-card {
  font-family: 'Avenir-Medium';
  font-size: 24px;
  line-height: 2em;
}

#features .guard {
  background-color: white;
  position: absolute;
  margin-top: 11%;
  margin-left: 44%;
  width: 46%;
  height: 56%;
  z-index: 3;
  border-radius: 15px;
  border: solid 2px #E4E4E4;
  border-right: none;
}

#model .row:nth-child(1) .title {
  font-family: 'Avenir Black';
  font-size: 38px;
  font-weight: bold;
  text-align: center;
}

#model .row:nth-child(1) .borderline {
  width: 100px;
  height: 3px;
  border: solid 1px #6455C2;
  margin: 30px auto 26px auto;
}

#model .row:nth-child(1) .sub-title {
  padding-left: 16%;
  padding-right: 16%;
  font-family: 'Avenir-Medium';
  font-size: 22px;
  text-align: center;
  padding-bottom: 17%;
}

#model .row:nth-child(2) {
  margin-left: 16%;
  margin-right: 16%;
  padding-bottom: 15%;
}

#model .row:nth-child(2) .card-col {
  padding-right: 30%;
}

#model .row:nth-child(2) .card-col .card {
  height: 187px;
  width: 214px;
  z-index: 4;
  margin-right: 30px;
  border-radius: 30px;
  -webkit-box-shadow: 0 0px 104px -24px rgba(210, 210, 210, 0.52), 0px 13px 0px 0px #191111;
          box-shadow: 0 0px 104px -24px rgba(210, 210, 210, 0.52), 0px 13px 0px 0px #191111;
}

#model .row:nth-child(2) .card-col .card .content {
  margin: auto;
}

#model .row:nth-child(2) .card-col .card .content .header {
  font-weight: bold;
  font-size: 32px;
  text-align: center;
}

#model .row:nth-child(2) .card-col .card .content .sub-header {
  font-size: 24px;
  color: #adadad;
}

#result {
  background-color: #FCFAFA;
  font-family: 'Avenir-Medium';
  padding-top: 5%;
  padding-bottom: 7%;
}

#result .header {
  font-family: 'Avenir Black';
  font-size: 32px;
  color: #FDBC2C;
  text-align: center;
}

#result .sub-header {
  text-align: center;
  font-size: 42px;
  font-weight: bold;
  padding-top: 25px;
  padding-left: 6.5%;
  padding-right: 6.5%;
  color: #878787;
}

#result .borderline {
  width: 100px;
  height: 1px;
  border: solid 1px #6455C2;
  margin: 30px auto 0px auto;
}

#result .bullet {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #F9A02A;
  margin: auto;
  margin-top: 14px;
}

#result .list {
  color: #8A8A8A;
  font-size: 21px;
}

#help {
  margin-top: 6%;
  border-radius: 20px;
  background-color: #1D1A42;
  color: white;
  font-family: 'Avenir Black';
  -webkit-box-shadow: 0 3.5px 3.5px -23px rgba(0, 0, 0, 0.075), 0 28px 28px -23px rgba(0, 0, 0, 0.15);
          box-shadow: 0 3.5px 3.5px -23px rgba(0, 0, 0, 0.075), 0 28px 28px -23px rgba(0, 0, 0, 0.15);
}

#help .row {
  padding-top: 7%;
  padding-bottom: 4%;
}

#help .row .header {
  font-size: 32px;
  color: #7F7893;
  word-spacing: 3px;
}

#help .row .sub-header {
  margin-top: 10px;
  font-size: 38px;
  font-weight: bolder;
}

#help .row .btn {
  font-family: 'Avenir-Heavy';
  width: 260px;
  height: 66px;
  font-size: 22px;
  font-weight: bold;
  background-color: #fcc12c;
  border-radius: 9px;
  color: #ffffff;
}

#nav-bottom {
  margin-top: 10%;
  margin-bottom: 10%;
}

#nav-bottom .row {
  height: 100px;
}
/*# sourceMappingURL=main.css.map */