@import "chatbot";
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

html,body{
    width: 100%;
}
.wrapper{
    display: none;
}
#nav-desktop-wrapper{
    display: none;
    box-shadow: none;
    #nav-desktop{
        padding: 16px;
        #logo{
            height: 32px;
        }
        a{
            color: black;
            font-size: 16px;
            font-weight: lighter;
            font-family: 'Lato', sans-serif;
            &:hover{
                color: #665CD7;
            }
            tag{
                position: absolute;
                font-family: Arial, Helvetica, sans-serif;
                background-color: rgb(88,206,188);
                border-radius: 2px;
                margin-left: -5px;
                bottom: 80%;
                font-size: 10px;
                padding: 1px 4px 1px 3px;
                color: white;
            }
        }
        button{
            height: 46px;
            width: 146px;
            border-color: #675ED7;
            background-color: white;
            color:#675ED7;
            font-size: 16px;
            font-weight: bolder;
            box-shadow: 0 5px 12px 0 rgba(11, 33, 105, 0.17);
            &:hover{
                background-color: #665CD7;
                color: white;
            }
        }
    }
}

#nav-mobile-header{
    display: none;
    border-bottom: solid 1px #EDEDF1;
    height: 60px;
    img{
        height: 32px;
        margin-left: 12px;
    }
    #toggler-on{
        margin-right: 12px;
        border: none;
    }
    #navbar-content{
        position: relative;
        background-color: #665DD6;
        height: 100vh-6vh;
        z-index: 4;
        .d-block{
            height: 60vh;
            width: 100%;
            border-bottom-left-radius: 30px;
            border-bottom-right-radius: 30px;
            text-align: center;
            ul{
                padding-top: 45px;
                line-height: 3em;
                font-size: 16px;
                font-weight: lighter;
            }
        }
        .close{
            position: relative;
            width: 100%;
            text-align: center;
            #toggler-off{
                background-color: white;
                padding: 13px;
                border-radius: 50%;
                vertical-align: center;
            }
            z-index: 400;
        }
    }
}
#introduction{
    margin-top: 9.8%;
    cursor: auto;
    font-family : 'Avenir Book' ;
    .header{
        margin-top: 16px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 32px;
        color: #FDBC2C;
    }
    .title{
        font-size: 48px;
    }
    .content{
        margin-top: 30px;
        color: #595959;
        font-size: 20px;
        line-height:2em;
    }
    .services-available{
        margin-top: 52px;
        .service{
            margin-left: 18px;
            display: flex;
            .icon{
                width: 60px;
                height: 60px;
                border-radius: 50%;
                border: solid 1.5px #EEEEEE;
                text-align: center;
                img{
                    margin-top: 30%;
                }
            }
            div:nth-child(2){
                padding-left: 30px;
                font-size: 14px;
                p{
                    font-family : 'Avenir Heavy' ;
                    margin-top: 5px;
                    font-size: 17px;
                    font-weight: bold;
                }
            }
        }
    }
}
#challenge{
    height: 100%;
    margin-top: 10%;
    margin-bottom: 10%;
    background-color:#1D1A42;
    border-radius: 30px;
    overflow-x: hidden;;
    color: white;
    .d-flex{
        .heading{
            font-family : 'Avenir black' ;
            font-size: 36px;
            font-weight: bold;
        }
        .content{
            padding-left: 2%;
            padding-right:2%;
            font-family : 'Avenir medium' ;
            font-size: 24px;
            text-align: center;
            text-align-last: center;
            font-stretch: expanded;
            line-height: 1.8;
        }
        .borderline{
            width: 100px;
            height: 4px;
            border: solid 1px red;
            margin-top: 15px;
            margin-bottom:34px
        }
    }   
    .right{
        position: absolute;
        right: 0;
    }
}
