@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");
#Preloader {
  width: 100%;
  height: 100vh;
  overflow: visible;
  background: #ffffff url("../assets/loader.gif");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 350px;
  z-index: 1;
}

.chatbot {
  position: fixed;
  right: 2%;
  bottom: 3%;
  z-index: 2;
}

.chatbot .chatbot-messenger {
  display: none;
  position: relative;
  width: 60vh;
  height: 78vh;
  background-color: #F4F5F7;
  -webkit-box-shadow: 0 0px 17px -2px rgba(0, 0, 0, 0.23);
          box-shadow: 0 0px 17px -2px rgba(0, 0, 0, 0.23);
  border-top-left-radius: 3%;
  border-top-right-radius: 3%;
  -webkit-animation: chatboxMessenger 0.1s linear;
          animation: chatboxMessenger 0.1s linear;
}

.chatbot .chatbot-messenger #chat-messanger-top {
  height: 16vh;
  background-color: #675ED7;
  border-top-left-radius: 3%;
  border-top-right-radius: 3%;
}

.chatbot .chatbot-messenger #chat-messanger-top .title {
  position: absolute;
  margin: 3%;
}

.chatbot .chatbot-messenger #chat-messanger-top .title #icon {
  width: 32px;
  height: 32px;
}

.chatbot .chatbot-messenger #chat-messanger-top .title p {
  padding-top: 0.8%;
  color: #DED3F6;
}

.chatbot .chatbot-messenger #chat-messanger-chat {
  position: relative;
  border-radius: 5px;
  border-top-left-radius: 1.8%;
  border-top-right-radius: 1.8%;
  bottom: 5%;
  width: 95%;
  height: 57.5vh;
  background-color: #fff;
}

.chatbot .chatbot-messenger input {
  height: 44px;
  width: 100%;
  font-size: 12px;
  margin-top: -18px;
  padding: 20px;
  border: none;
  -webkit-box-shadow: inset 0px 1px 0px 1px rgba(159, 159, 159, 0.23);
          box-shadow: inset 0px 1px 0px 1px rgba(159, 159, 159, 0.23);
}

.chatbot .chatbot-messenger input:focus, .chatbot .chatbot-messenger input:active {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.chatbot #chatbot-on {
  width: 60px;
  background: none;
  -webkit-filter: drop-shadow(1px 1.6px 0.9px #575353);
          filter: drop-shadow(1px 1.6px 0.9px #575353);
  -webkit-animation: chatboxIcon 0.4s linear;
          animation: chatboxIcon 0.4s linear;
  z-index: 4;
}

.chatbot #chatbot-off {
  width: 34px;
  height: 25px;
  margin-top: -30px;
  padding: 5px;
  background-color: #99A1B0;
  color: white;
  text-align: center;
  border-radius: 25px;
}

@-webkit-keyframes chatboxIcon {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes chatboxIcon {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes chatboxMessenger {
  0% {
    width: 0px;
    height: 0px;
  }
}

@keyframes chatboxMessenger {
  0% {
    width: 0px;
    height: 0px;
  }
}

html, body {
  width: 100%;
}

.wrapper {
  display: none;
}

#nav-desktop-wrapper {
  display: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

#nav-desktop-wrapper #nav-desktop {
  padding: 16px;
}

#nav-desktop-wrapper #nav-desktop #logo {
  height: 32px;
}

#nav-desktop-wrapper #nav-desktop a {
  color: black;
  font-size: 16px;
  font-weight: lighter;
  font-family: 'Lato', sans-serif;
}

#nav-desktop-wrapper #nav-desktop a:hover {
  color: #665CD7;
}

#nav-desktop-wrapper #nav-desktop a tag {
  position: absolute;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #58cebc;
  border-radius: 2px;
  margin-left: -5px;
  bottom: 80%;
  font-size: 10px;
  padding: 1px 4px 1px 3px;
  color: white;
}

#nav-desktop-wrapper #nav-desktop button {
  height: 46px;
  width: 146px;
  border-color: #675ED7;
  background-color: white;
  color: #675ED7;
  font-size: 16px;
  font-weight: bolder;
  -webkit-box-shadow: 0 5px 12px 0 rgba(11, 33, 105, 0.17);
          box-shadow: 0 5px 12px 0 rgba(11, 33, 105, 0.17);
}

#nav-desktop-wrapper #nav-desktop button:hover {
  background-color: #665CD7;
  color: white;
}

#nav-mobile-header {
  display: none;
  border-bottom: solid 1px #EDEDF1;
  height: 60px;
}

#nav-mobile-header img {
  height: 32px;
  margin-left: 12px;
}

#nav-mobile-header #toggler-on {
  margin-right: 12px;
  border: none;
}

#nav-mobile-header #navbar-content {
  position: relative;
  background-color: #665DD6;
  height: 94vh;
  z-index: 4;
}

#nav-mobile-header #navbar-content .d-block {
  height: 60vh;
  width: 100%;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  text-align: center;
}

#nav-mobile-header #navbar-content .d-block ul {
  padding-top: 45px;
  line-height: 3em;
  font-size: 16px;
  font-weight: lighter;
}

#nav-mobile-header #navbar-content .close {
  position: relative;
  width: 100%;
  text-align: center;
  z-index: 400;
}

#nav-mobile-header #navbar-content .close #toggler-off {
  background-color: white;
  padding: 13px;
  border-radius: 50%;
  vertical-align: center;
}

#introduction {
  margin-top: 9.8%;
  cursor: auto;
  font-family: 'Avenir Book';
}

#introduction .header {
  margin-top: 16px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 32px;
  color: #FDBC2C;
}

#introduction .title {
  font-size: 48px;
}

#introduction .content {
  margin-top: 30px;
  color: #595959;
  font-size: 20px;
  line-height: 2em;
}

#introduction .services-available {
  margin-top: 52px;
}

#introduction .services-available .service {
  margin-left: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#introduction .services-available .service .icon {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: solid 1.5px #EEEEEE;
  text-align: center;
}

#introduction .services-available .service .icon img {
  margin-top: 30%;
}

#introduction .services-available .service div:nth-child(2) {
  padding-left: 30px;
  font-size: 14px;
}

#introduction .services-available .service div:nth-child(2) p {
  font-family: 'Avenir Heavy';
  margin-top: 5px;
  font-size: 17px;
  font-weight: bold;
}

#challenge {
  height: 100%;
  margin-top: 10%;
  margin-bottom: 10%;
  background-color: #1D1A42;
  border-radius: 30px;
  overflow-x: hidden;
  color: white;
}

#challenge .d-flex .heading {
  font-family: 'Avenir black';
  font-size: 36px;
  font-weight: bold;
}

#challenge .d-flex .content {
  padding-left: 2%;
  padding-right: 2%;
  font-family: 'Avenir medium';
  font-size: 24px;
  text-align: center;
  text-align-last: center;
  font-stretch: expanded;
  line-height: 1.8;
}

#challenge .d-flex .borderline {
  width: 100px;
  height: 4px;
  border: solid 1px red;
  margin-top: 15px;
  margin-bottom: 34px;
}

#challenge .right {
  position: absolute;
  right: 0;
}
/*# sourceMappingURL=main.css.map */