body{background-color: #523c3a; overflow-x:hiddenx;}
.content:hover{opacity: 1;}
.container{background-color: #383535; height: 1000px;}
u{text-decoration-color: green; text-decoration-style: dotted;}
h2,href{text-align: center; font-family: 'Bitter', serif;}
a{color: #3097cf;}
li{text-transform: capitalize;}
nav{
    padding: 1px;
    text-align: center;
    background-color: #ebe2e1;
    margin-bottom: 20px;
}
li{
    list-style-type: lower-norwegian;
    font-family: 'Source Code Pro', monospace;
}
.contents{
    width: 70%;
    margin: auto;
    padding: 2px;
    background-color: #ebe2e1;
}
.content{	
    background-color: #1c232e;
    color: #c2c1bc;	
    padding-bottom: 10px;
    opacity: 0.9;
}
.btn{
    height: 3em;
    width: 100%;
}   