.dropdown-toggle::after {
  display: none;
}

.clippy {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(15, 22, 66, 0.93);
  z-index: 16;
  -webkit-clip-path: polygon(70% 0, 100% 0%, 100% 100%, 48% 100%);
          clip-path: polygon(70% 0, 100% 0%, 100% 100%, 48% 100%);
  -webkit-text-fill-color: transparent;
}

.sidebar-wrapper {
  width: 210px;
  height: 100vh;
  overflow-y: scroll;
  z-index: 10;
  padding: 10px;
  background-color: white;
  -webkit-box-shadow: 5px 0px 5px 0px rgba(194, 194, 194, 0.56);
          box-shadow: 5px 0px 5px 0px rgba(194, 194, 194, 0.56);
}

.sidebar-wrapper::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

@media (max-width: 992px) {
  .sidebar-wrapper {
    display: none;
  }
}

.sidebar-wrapper .menu-items .list-group-heading {
  margin-top: 10px;
  font-size: 12px;
  font-weight: bold;
  opacity: 0.6;
  padding: 0px 8px;
}

.sidebar-wrapper .menu-items .list-group {
  margin-bottom: 1em;
}

.sidebar-wrapper .menu-items ul {
  margin: 0px;
}

.sidebar-wrapper .menu-items li {
  opacity: 0.8;
  padding: 1px 8px;
}

.sidebar-wrapper .menu-items li .menu-icon {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 20px;
  height: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.sidebar-wrapper .menu-items li .menu-type {
  font-size: 0.7em;
  padding-left: 4px;
}

.sidebar-wrapper .menu-items li .menu-dropdown {
  float: right;
  padding-top: 4px;
  font-weight: bold;
  cursor: pointer;
}

.sidebar-wrapper .menu-items .hidden-list {
  display: none;
}

.sidebar-wrapper .menu-items .hidden-list li {
  padding: 2px 10px;
}

.sidebar-wrapper .menu-items .hidden-list li:hover {
  background-color: #766cb5;
  opacity: 1;
  border-radius: 4px;
}

.sidebar-wrapper .menu-items .hidden-list span:nth-child(1) {
  font-size: 14px;
}

.topnav {
  -webkit-box-shadow: -1px 3px 5px 0px rgba(194, 194, 194, 0.56), -4px -2px 5px 0px rgba(194, 194, 194, 0.56);
          box-shadow: -1px 3px 5px 0px rgba(194, 194, 194, 0.56), -4px -2px 5px 0px rgba(194, 194, 194, 0.56);
  border-radius: 4px;
  padding: 0px 8px;
  margin-top: 20px;
  z-index: 12;
  color: rgba(110, 110, 110, 0.99);
}

.topnav span {
  padding: 0.4em;
  font-size: 18px;
}

.topnav span:hover {
  color: orange;
}

.topnav .justify-content-end {
  color: white;
  background-color: rgba(15, 22, 66, 0.8);
}

body {
  background-color: #fafafa;
}

.layout {
  height: calc(100vh - 80px);
  width: 100vw;
  margin-top: 68px;
  background-color: #fafafa;
}

@media (min-width: 992px) {
  .layout {
    margin-left: 235px;
    width: calc(100vw - 260px);
  }
  .topnav {
    margin-left: 235px;
    width: calc(100vw - 260px);
  }
}

.cols {
  padding: 12px;
  margin: 20px 0px;
  border-radius: 6px;
  -webkit-box-shadow: -1px 3px 5px 0px rgba(194, 194, 194, 0.56), -4px -2px 5px 0px rgba(194, 194, 194, 0.56);
          box-shadow: -1px 3px 5px 0px rgba(194, 194, 194, 0.56), -4px -2px 5px 0px rgba(194, 194, 194, 0.56);
}

.content-1 {
  background: linear-gradient(118deg, #7367f0, rgba(115, 103, 240, 0.7)) !important;
}

.content-1 .d-block {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  background-color: #7367f0;
  -webkit-filter: drop-shadow(0 0 0.3rem rgba(0, 0, 0, 0.1));
          filter: drop-shadow(0 0 0.3rem rgba(0, 0, 0, 0.1));
  border-radius: 50%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 5em;
  height: 5em;
  margin: auto;
  margin-top: 2%;
}

.content-1 strong {
  color: white;
  line-height: 1em;
}

.content-1 p {
  margin: auto;
  margin: 1.3em;
  color: white;
  font-size: 0.8em;
}

.content-2 {
  background-color: white;
}

.content-2 .flex-column {
  padding: 8px;
  margin-bottom: 25%;
}

.content-2 .sub-header {
  margin: 10px 0px;
}

.content-2 .sub-header h6 {
  line-height: 2px;
}

.content-2 .wave svg {
  z-index: 19;
  position: absolute;
  left: 0;
  width: 100%;
  bottom: 0;
  background: transparent;
}
/*# sourceMappingURL=index.css.map */